.first-sideimage img {
  float: left;
  box-shadow: 8px 8px 20px rgb(96, 95, 95);
}
.second-sideimage img {
  float: right;
  box-shadow: -8px 8px 20px rgb(96, 95, 95);
}
.uses p {
  padding-top: 0.01rem;
}
.uses h2 {
  text-align: center;
}
.uses {
  text-align: left;
  padding: 0 1rem 0 1rem;
  line-height: 1.8;
  padding-bottom: 1rem;
  border-radius: 0.4rem;
  margin: 0 0.8rem 0 0.8rem;
}
.uses img {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  margin: 1rem;
  border: 3px solid rgb(11, 11, 11);
  border-radius: 0.5rem;
}
.uses{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 768px){
.uses{
  text-align: center;
  padding-bottom: 0;
  margin: auto;
}
.uses img{
  margin: 0;
}
  .first-sideimage img{
    float:none;
    
  }
  .second-sideimage img {
    float: none;
  }
  .uses p{
    font-size: 1.5rem;
    padding-top: 0;
  }
}